<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Meta -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The Coffee Club">
    <meta name="author" content="Breno Polanski">
	
	<title>The Coffee Club</title>

	<!-- Favicon -->
	<link rel="shortcut icon" href="img/favicon.ico">
	<link rel="shortcut icon" href="img/favicon-32.png" sizes="16x16 32x32 48x48" type="image/png">
	<link rel="icon" href="img/favicon-128.png" sizes="128x128" type="image/png">
	
	<!-- CSS -->
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/style.css">

	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script src="js/ie10-viewport-bug-workaround.js"></script>
</head>
<body>