<% include header %>
	<div class="app-wrap">
		<header class="header">	
			<h1>The Coffee Club</h1>
		</header>
		<section class="content">
			<h1 class="txt-center">Unfortunately this page does not exist! :(</h1>
		</section>
		<footer class="footer">
			<div class="container-center">
				<p>Made with <span class="love">♥</span> by Breno Polanski</p>
			</div>
		</footer>
	</div>
<% include footer %>