<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Hackspace - The Coffee Club</title>
</head>
<body>
	<header>
		<h1>Hackspace</h1>
		<h4>The Coffee Club</h4>
	</header>
	<section>
		<a href="<%- url %>">Login with GitHub</a>
	</section>
	<footer>
		<small></small>
	</footer>
</body>
</html>