<% include ../header %>
	<header>
		<h1>Hackspace</h1>
		<h4>The Coffee Club</h4>
	</header>
	<section>
		<ul>
			<li>login: <%- login %></li>
			<li>avatar_url: <img src="<%- avatar_url %>" /></li>
		</ul>
	</section>
<% include ../footer %>