<% include ../header %>
	<header>
		<h1>Hackspace</h1>
		<h4>The Coffee Club</h4>
	</header>
	<section>
		<ul>
			<li>Name: <%- name %></li>
			<li>avatar_url: <img src="<%- profile_image %>" /></li>
		</ul>
		<a href="#">Add Coffee</a> | <a href="#">Add Coffee friend Hackspace</a> | <a href="/exit">Exit</a>
	</section>
<% include ../footer %>