*, *:before, *:after
	box-sizing inherit

html
	box-sizing border-box
	font-size 10px
	
body
	font-family sans-serif
	margin 0
	font-size 1.5rem
	
a
	color white
	text-decoration none
	
	&.button
		background-color #75715e
		padding 1rem 1.5rem
		border-radius 4px
		
	&.login
		padding 2rem 2.5rem
		font-size 2.5rem

h1
	color #75715e

#loading-page
	background rgba(204,204,204,.8)
	height 100%
	width 100%
	overflow hidden
	position fixed
	left 0
	top 0
	z-index 99998

#loading-container
	position fixed
	top 50%
	left 50%

#loading-content
	width 800px
	text-align center
	margin-top -50px
	margin-left -400px
	height 100px

.app-wrap
	height 100vh

.header
	background-color #272822
	color rgba(0,0,0,0.5)
	padding 1rem
	img
		// max-width 10vh
		width 65px

.content
	height 100vh
	padding 20px
	background-color #f0f0f0
	box-shadow inset 0 5px 0 rgba(0,0,0,0.1)
	line-height 1.6
	
	.month
		text-align center
	
.progress-pie-chart
	width 200px
	height 200px
	border-radius 50%
	background-color #e5e5e5
	position relative
	
	&.gt-50
		background-color #81ce97
		
.ppc-progress
	content ""
	position absolute
	border-radius 50%
	left calc(50% - 100px)
	top calc(50% - 100px)
	width 200px
	height 200px
	clip rect(0, 200px, 200px, 100px)
	
	.ppc-progress-fill
		content ""
		position absolute
		border-radius 50%
		left calc(50% - 100px)
		top calc(50% - 100px)
		width 200px
		height 200px
		clip rect(0, 100px, 200px, 0)
		background-color #81ce97
		transform rotate(60deg)
		
.gt-50
	.ppc-progress
		clip rect(0, 100px, 200px, 0)
		
.gt-50
	.ppc-progress
		.ppc-progress-fill
			clip rect(0, 200px, 200px, 100px)
			background-color #e5e5e5
			
.ppc-percents
	content ""
	position absolute
	border-radius 50%
	left calc(50% - 173.91304px/2)
	top calc(50% - 173.91304px/2)
	width 173.91304px
	height 173.91304px
	background #fff
	text-align center
	display table

.ppc-percents 
	span
		display block
		font-size 2.6em
		font-weight bold
		color #81ce97

.pcc-percents-wrapper
	display table-cell
	vertical-align middle

.progress-pie-chart
	margin 50px auto 0

.nav
	border-top 1px solid #e6e6e6
	
.nav
	a
		text-align center
		padding 1.5rem
		border-left 1px solid rgba(0,0,0,0.5)
		background-color #272822
		color #75715e
		
		&:first-child
			border-left 0
			border-bottom 5px solid #272822
			
		&:hover
			border-bottom 5px solid rgba(0,0,0,0.5)
			
	i
		display block
		font-size 2.5rem
		color white
		text-shadow 3px 3px 0 rgba(0,0,0,0.1)
		padding-bottom 1rem
		
.footer
	background-color #272822
	
.footer
	p
		color #fff
	
.love
	color #e74c3c
	display inline-block
	font-size 1.4em
	position relative
	top 0.2em
	transform scale(0.9)
	animation love 0.5s infinite linear alternate-reverse

@keyframes love {
    to { transform: scale(1.2); }
}

// Flexbox

.app-wrap
	display flex
	flex-direction column
	
.app-wrap > *
	flex 1 1 auto

.header
	display flex
	align-items center
	justify-content space-between
	
.content
	overflow-y scroll
	-webkit-overflow-scrolling touch
	
.container-center
	display flex
	align-items center
	justify-content center

.nav
	display flex
	
	a
		flex 1
		
// Small screens

@media all and (max-width: 500px)
	.home-title
		display none